<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Change password</h1>
    <div class="container">
        <form id="changepwdForm" method="POST" action='/changepwd'>
            <label for="uname">Hello, <b>{{ username }}</b>. Do you want to change your password?</label>
            <br>
            <br>

            <label for="psw"><b>Password</b></label>    
            <input type="password" placeholder="Enter new password" name="pwd1" required>
            <label for="psw"><b>Password</b></label>    
            <input type="password" placeholder="Repeat your password" name="pwd2" required>

            <button type="submit" name="loginBtn">Submit change</button>
            <p>
                {{ message }}
            </p>
        </form>
    <a href='/cabinet'>Go back</a>
    </div>
</body>
</html>